<div class="main-block">
    <div class="main-block_left">
        <div class="profile-photo card-block">
            <app-profile-photo
                [isEditPhoto]="isMyProfile"
                [imageSrc]="(profile$ | async)?.avatarUrl"
                (uploadPhotoEvent)="uploadPhoto($event)"
            ></app-profile-photo>
            <button *ngIf="isMyProfile" routerLink="/edit" class="btn profile-photo_btn">Edit Profile</button>
            <button *ngIf="!isMyProfile && isInvited" (click)="addFriend()" class="btn btn-blue">Invite To Friends</button>
            <button *ngIf="!isMyProfile && !isAccepted  && isAddedByYou" (click)="acceptFriend()" class="btn btn-blue">Accept Invitation</button>
        </div>
    </div>
    <div class="main-block_right">
         <app-profile-info [data]="(profile$ | async)"></app-profile-info>
    </div>
 </div> 