@import '../../../../assets/styles/color-variables.scss';

:host {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-block {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &_left {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-right: 30px;
    }

    &_right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.profile-photo {
    .profile-photo_btn {
        color: $black !important;
        background-color: #ddd;
    }
}