:host {
    display: flex;
    justify-content: center;
    width: 100%;
}

:host ::ng-deep .form {
    &_title {
        text-align: center;
    }

    .btn {
        max-width: 200px;
        margin: auto;
    }
}

.main-block {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &_left {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-right: 30px;
    }

    &_right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.card-block_back-link {
    position: absolute;
    font-weight: 500;
    top: 22px;
    left: 20px;
}

