<div class="card-block">
     <a routerLink="" class="card-block_back-link form_link link"><- Back</a>
     <app-form title="Edit profile" buttonText="Save" (formSubmit)="submit()">
          <app-input-field [control]="firstName"
               type="text"
               label="First Name"
               placeholder="Your First Name"
          ></app-input-field>
          <app-input-field [control]="lastName"
               type="text"
               label="Last Name"
               placeholder="Your Last Name"
          ></app-input-field>
          <app-select-field [control]="gender"
               [values]="['male', 'female']"
               label="Gender"
               placeholder="Select Your Gender"></app-select-field>
          <app-input-field [control]="language"
               type="text"
               label="Language"
               placeholder="Your Language"
          ></app-input-field>
          <app-input-field [control]="birthDate"
               type="text"
               label="Birthday"
               placeholder="Your Birthday"
          ></app-input-field>
          <app-input-field [control]="city"
               type="text"
               label="City"
               placeholder="Your City"
          ></app-input-field>
          <app-input-field [control]="phoneNumber"
               type="text"
               label="Phone"
               placeholder="Your Phone"
          ></app-input-field>
          <app-input-field [control]="description"
               type="text"
               label="About Me"
               placeholder="Tell About Yourself"
          ></app-input-field>
     </app-form>
</div>