// colors
@import './assets/styles/color-variables.scss';

/* cabin-regular - latin */
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/cabin-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('☺'), url('/assets/fonts/cabin-v15-latin-regular.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/cabin-v15-latin-regular.woff2') format('woff2'),  url('/assets/fonts/cabin-v15-latin-regular.woff') format('woff'),  url('/assets/fonts/cabin-v15-latin-regular.ttf') format('truetype'),  url('/assets/fonts/cabin-v15-latin-regular.svg#Cabin') format('svg');
    /* Legacy iOS */
}

/* cabin-600 - latin */
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/cabin-v15-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('☺'), url('/assets/fonts/cabin-v15-latin-500.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/cabin-v15-latin-500.woff2') format('woff2'),  url('/assets/fonts/cabin-v15-latin-500.woff') format('woff'),  url('/assets/fonts/cabin-v15-latin-500.ttf') format('truetype'),  url('/assets/fonts/cabin-v15-latin-500.svg#Cabin') format('svg');
    /* Legacy iOS */
}

/* cabin-700 - latin */
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/cabin-v15-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('☺'), url('/assets/fonts/cabin-v15-latin-700.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/cabin-v15-latin-700.woff2') format('woff2'),  url('/assets/fonts/cabin-v15-latin-700.woff') format('woff'),  url('/assets/fonts/cabin-v15-latin-700.ttf') format('truetype'),  url('/assets/fonts/cabin-v15-latin-700.svg#Cabin') format('svg');
    /* Legacy iOS */
}

// general default styles
body {
    font-family: 'Cabin', 'Helvetica', 'Arial', sans-serif;
    background-color: #edeef0;
    color: $black;
    display: block;
    position: relative;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

div {
    box-sizing: border-box;
}

.link {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    transition: all .5s ease;

    &:hover {
        opacity: 0.8;
    }

    &-red {
        color: $dark-danger;
    }
}

.container {
    display: flex;
    max-width: 960px;
    width: 100%;
    padding: 0 15px;
}

label > span {
    color: $black;
    font-size: 14px;
    line-height: 2;
}

input, select, textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    background-color: #fff !important;
    outline: none;
    appearance: none;
    transition: all .5s ease;

    &:focus, &.active {
        border-color: rgba($primary, .5);
    }

    &::placeholder {
        color: rgba($gray, .7);
    }

    &.error {
        border-color: $danger;
    }
}

.btn {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all .25s ease;

    &-blue {
        background-color: $primary
    }
    
    &:hover {
        opacity: .7;
    }

    &:disabled {
        opacity: .5;
    }
}

.card-block {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(#000, .2);
    padding: 20px;
    width: 100%;

    &__row {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-top: 0;
    }
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 16px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 16px;
}