:host {
    position: relative;
    display: block;
}

.preloader {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, .8);
    display: flex;
    align-items: center;
    justify-content: center;

    &_img {
        width: 40px;
        height: 40px;
    }
}