@import '../../../../assets/styles/color-variables.scss';

.navigation {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    &_item {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: .5rem;
        transition: all .25s ease;

        &:hover {
            background-color: rgba($gray, .1);
        }
    }

    &_icon {
        width: 20px;
        margin-right: 5px;
    }

    &_text {
        font-size: 14px;
        color: $black;
    }
}