<div class="navigation">
    <a routerLink="" class="navigation_item">
        <img src="/assets/icons/user-icon.svg" alt="Icon" class="navigation_icon">
        <span class="navigation_text">My page</span>
    </a>
    <a routerLink="/friends" class="navigation_item">
        <img src="/assets/icons/user-icon.svg" alt="Icon" class="navigation_icon">
        <span class="navigation_text">Friends</span>
    </a>
    <a routerLink="" class="navigation_item">
        <img src="/assets/icons/user-icon.svg" alt="Icon" class="navigation_icon">
        <span class="navigation_text">Messages</span>
    </a>
</div>