// colors
@import '../../assets/styles/color-variables.scss';

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_title {
        margin-top: 0;
        margin-bottom: 5px;
    }

    ::ng-deep &_link {
        display: inline-block;
    }

    > app-form-error {
        margin-bottom: 10px;
    }

    ::ng-deep app-input-field {
        margin-bottom: 10px;
    }

    ::ng-deep &_button {
        margin-top: 20px;
    }
}
