<form class="form" [formGroup]="formGroup" (submit)="submit()" autocomplete="off">
    <h3 class="form_title">{{ title }}</h3>
    <app-form-error [message]="errorMessage"></app-form-error>
    <ng-content></ng-content>
    <button class="form_button btn btn-blue"
        type="submit"
        [disabled]="formGroup.invalid"
    >{{ buttonText }}</button>
</form>