.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &_img {
        display: block;
        width: 40px;
        height: 40px;
    }

    &_text {
        margin-top: 5px;
        font-weight: 500;
    }
}

.profile-photo-block {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #ddd;
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;

    &_img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover &_add-image {
        opacity: 1;
    }

    &_add-image {
        opacity: 0;
        transition: all .5 ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20px;
        cursor: pointer;
        color: #fff;
        background-color: rgba(#000, .5);
        font-size: 16px;
        padding: 10px;
        text-align: center;
        
        input {
            display: none;
        }

        &:hover {
            font-weight: bold;
        }
    }
}
