<div class="profile-photo-block">
    <img *ngIf="imageSrc" [src]="baseUrl + imageSrc" class="profile-photo-block_img">
    <div *ngIf="!imageSrc" class="icon-block">
        <img class="icon-block_img" src="/assets/icons/user-icon.svg" alt="Social Network">
        <span class="icon-block_text">Add Image</span>
    </div>
    <label *ngIf="isEditPhoto" class="profile-photo-block_add-image">
        Change Photo
        <input (change)="uploadPhoto($event)" name="avatar" type="file" accept=".png, .jpg, .jpeg">
    </label>
</div>