<div class="friends-row">
    <div class="card-block friends-block">
        <app-page-loader [isLoading]="isLoading$ | async">
            <ng-container [ngSwitch]="selectedTab">
                <!-- Your friends list -->
                <ng-container *ngSwitchCase="tabTypeEnum.FRIENDS_LIST">
                    <ng-container *ngTemplateOutlet="friendsList; context: { list: (friendsList$ | async) }"></ng-container>
                </ng-container>
                <!-- Your friends list -->
                <ng-container *ngSwitchCase="tabTypeEnum.YOUR_REQUESTS_LIST">
                    <ng-container *ngTemplateOutlet="yourRequestsList; context: { list: (yourRequestsList$ | async) }"></ng-container>
                </ng-container>
                <!-- Profiles search list -->
                <ng-container *ngSwitchCase="tabTypeEnum.PROFILES_SEARCH_LIST">
                    <ng-container *ngTemplateOutlet="profilesSearchList; context: { list: (profilesSearchList$ | async) }"></ng-container>
                </ng-container>
                <!-- New friends who invited you to friends -->
                <ng-container *ngSwitchCase="tabTypeEnum.FRIEND_REQUESTS_LIST">
                    <ng-container *ngTemplateOutlet="friendRequestsList; context: { list: (friendRequestsList$ | async) }"></ng-container>
                </ng-container>
            </ng-container>
        </app-page-loader>
    </div>

    <!-- Tabs switcher -->
    <div class="card-block friends-block-switcher">
        <div class="friends-block-switcher__item"
             (click)="selectedTab = tabTypeEnum.FRIENDS_LIST"
             [class.friends-block-switcher__item_active]="selectedTab === tabTypeEnum.FRIENDS_LIST"
        >Your Friends</div>
        <div class="friends-block-switcher__item"
             (click)="selectedTab = tabTypeEnum.YOUR_REQUESTS_LIST"
             [class.friends-block-switcher__item_active]="selectedTab === tabTypeEnum.YOUR_REQUESTS_LIST"
        >Your Request</div>
        <div class="friends-block-switcher__item"
             (click)="selectedTab = tabTypeEnum.PROFILES_SEARCH_LIST"
             [class.friends-block-switcher__item_active]="selectedTab === tabTypeEnum.PROFILES_SEARCH_LIST"
        >New Friends Search</div>
        <div class="friends-block-switcher__item"
             (click)="selectedTab = tabTypeEnum.FRIEND_REQUESTS_LIST"
             [class.friends-block-switcher__item_active]="selectedTab === tabTypeEnum.FRIEND_REQUESTS_LIST"
        >Friends Request</div>
    </div>
</div>
<!-- Temlpate for search input -->
<ng-template #searchInput>
    <app-input-field class="friends-block__search-input"
        [formControl]="profilesSearchControl"
        placeholder="Search people"
    ></app-input-field>
</ng-template>

<!-- Temlpate for friends list -->
<ng-template #friendsList let-friends="list">
    <h3 class="card-block__title">Your Friends</h3>
    <ng-container *ngFor="let item of friends">
        <app-profile-item
            [profileItem]="item"
            [itemType]="tabTypeEnum.FRIENDS_LIST"
            (removeFriendEvent)="removeFriend($event)"
        ></app-profile-item>
    </ng-container>
    <ng-container *ngIf="friends?.length === 0">
        <div class="no-friends">
            You don't have friends.
        </div>
    </ng-container>
</ng-template>

<!-- Temlpate for search profiles list -->
<ng-template #profilesSearchList let-profilesSearchList="list">
    <ng-container *ngTemplateOutlet="searchInput"></ng-container>
    <h3 class="card-block__title">Search Result</h3>
    <ng-container *ngFor="let item of profilesSearchList">
        <app-profile-item [profileItem]="item"
            [itemType]="tabTypeEnum.PROFILES_SEARCH_LIST"
            [isRemoveLink]="false"
        ></app-profile-item>
    </ng-container>
    <ng-container *ngIf="profilesSearchList?.length === 0">
        <div class="no-friends">
            There is nothing. <br/> Please, use searching to find people and add them as friends.
        </div>
    </ng-container>
</ng-template>

<!-- Template for friend requests list -->
<ng-template #friendRequestsList let-newFriends="list">
    <div class="card-block__row">
        <h3 class="card-block__title">Friends Requests</h3>
    </div>
    <ng-container *ngFor="let item of newFriends">
        <app-profile-item
            [profileItem]="item"
            [itemType]="tabTypeEnum.FRIEND_REQUESTS_LIST"
            (removeFriendEvent)="removeFriend($event)"
        ></app-profile-item>
    </ng-container>
    <ng-container *ngIf="newFriends?.length === 0">
        <div class="no-friends">
            There is no any requests.
        </div>
    </ng-container>
</ng-template>

<!-- Template for your requests list -->
<ng-template #yourRequestsList let-friendRequests="list">
    <div class="card-block__row">
        <h3 class="card-block__title">Your Requests</h3>
    </div>
    <ng-container *ngFor="let item of friendRequests">
        <app-profile-item
            [profileItem]="item"
            [itemType]="tabTypeEnum.YOUR_REQUESTS_LIST"
            (removeFriendEvent)="removeFriend($event)"
        ></app-profile-item>
    </ng-container>
    <ng-container *ngIf="friendRequests?.length === 0">
        <div class="no-friends">
            There is no any requests.
        </div>
    </ng-container>
</ng-template>