@import '../../../assets/styles/color-variables.scss';

:host {
    width: 100%;
}

.friends-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.friends-block {
    min-height: 250px;

    &__search-input {
        margin-left: auto;
    }
}

.friends-block-switcher {
    margin-left: 30px;
    max-width: 300px;
    padding: 0 20px 0 0;

    &__item {
        padding: 10px 0 10px 20px;
        cursor: pointer;

        &_active {
            color: $primary;
            border-left: 4px solid $primary;
            font-weight: 500;
            padding-left: 16px;
        }
    }
}

.no-friends {
    text-align: center;
    padding: 50px 20px;
    line-height: 1.6;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
}