<label>
    <span>{{label}}</span>
    <input class="form-block_field"
        [name]="name"
        autocomplete="chrome-off"
        [formControl]="control"
        [type]="type"
        [class.error]="control.invalid && control.touched && control.dirty"
        [placeholder]="placeholder">
    <app-form-error [control]="control"></app-form-error>
</label>