<app-form [formGroup]="formGroup" buttonText="Register" title="Register" (submit)="submit()" class="form-block">
    <app-input-field [control]="emailControl" placeholder="Your Email" type="email"></app-input-field>
    <app-input-field [control]="loginControl" placeholder="Your Login" type="login"></app-input-field>
    <app-input-field [control]="passwordControl" placeholder="Your Password" type="password"></app-input-field>
    <a routerLink="/auth/login" class="form_link link">I've already have account</a>
</app-form>