<div class="friends-block-item">
    <div class="image-circle-block">
        <img *ngIf="avatarUrl !== ''"
            [src]="avatarUrl"
            alt="Avatar"
            class="image-circle-block_img">
        <img *ngIf="avatarUrl === undefined"
            src="/assets/icons/camera-icon.svg"
            alt="Avatar"
            class="image-circle-block_icon">
    </div>
    <div class="friends-block-item_info">
        <a (click)="goToProfile()" class="link friends-block-item_link friends-block-item_name">{{ fullName }}</a>
        <a class="link friends-block-item_link">Send message</a>
        <a *ngIf="isRemoveLink" (click)="removeFriend()" class="link friends-block-item_link link-red link-remove">Remove</a>
    </div>
</div>