@import '../../../../assets/styles/color-variables.scss';

.image-circle-block {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba($gray, .3);

    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_icon {
        display: flex;
        margin: auto;
        width: 40px;
        height: 40px;
        opacity: 0.5;
    }
}

.friends-block-item {
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid rgba($gray, .3);

    &:last-child {
        border-bottom: none;
    }

    &_info {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }

    &_name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .link {
        margin-bottom: 10px;

        &-remove {
            margin-top: auto;
        }
    }
}