<div class="container">
    <div routerLink="" class="logo-block">
        <div class="icon-block logo-block_icon">
            <img class="icon-block_img" src="/assets/icons/user-icon.svg" alt="Social Network">
        </div>
        <span class="logo-block_text">Social Network</span>
    </div>

    <a class="link" (click)="logout()">
        => Logout
    </a>
</div>