:host {
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(#000, .2);
    justify-content: center;
    width: 100%;
}

.container {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.icon-block {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;

    &_img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.logo-block {
    display: flex;
    align-items: center;
    cursor: pointer;

    &_icon {
        margin-right: 5px;
    }

    &_text {
        font-weight: bold;
        font-size: 20px;
    }
}

.link {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}