<div class="profile-info-block card-block">
    <div class="profile-info-block_header">
        <div class="profile-info-block_item profile-info-block_item-bd-bold">
            <h4 class="profile-info-block_full-name">{{data?.firstName}} {{data?.lastName}}</h4>
            <span class="profile-info-block_status profile-info-block_status-green">Online</span>
        </div>
        <span class="profile-info-block_header-status-text">{{data?.statusText || 'set status'}}</span>
    </div>

    <div class="profile-info-block_item">
        <div class="info-block">
            <span class="info-block_label">Gender:&nbsp;</span>
            <span class="info-block_text">{{ data?.gender || 'No info' }}</span>
        </div>
        <div class="info-block">
            <span class="info-block_label">Birthday:&nbsp;</span>
            <span class="info-block_text">{{ (data?.birthDate | date) || 'No info' }}</span>
        </div>
    </div>

    <div class="profile-info-block_item">
        <div class="info-block">
            <span class="info-block_label">Language:&nbsp;</span>
            <span class="info-block_text">{{ data?.language || 'No info' }}</span>
        </div>
        <div class="info-block">
            <span class="info-block_label">City:&nbsp;</span>
            <span class="info-block_text">{{ data?.city || 'No info' }}</span>
        </div>
    </div>    

    <div class="profile-info-block_item info-block">
        <span class="info-block_label">Phone:&nbsp;</span>
        <span class="info-block_text">{{ data?.phoneNumber || 'No info' }}</span>
    </div>

    <div class="profile-info-block_item  info-block info-block-column">
        <span class="info-block_label">About me:&nbsp;</span>
        <span class="info-block_text">{{ data?.description || 'No info' }}</span>
    </div>
</div>