@import '../../../../../../assets/styles/color-variables.scss';

.profile-info-block {
    &_header {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 5px;

        &-status-text {
            cursor: pointer;
            color: $gray;
            font-size: 14px;
            line-height: 2;
        }
    }

    &_item {
        display: flex;
        padding-top: 15px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }

        .info-block {
            width: 50%;
        }
    }

    &_item-column {
        flex-direction: column;
        align-items: start;
    }

    &_full-name {
        margin: 0;
        font-size: 18px;
    }

    &_status {
        margin-left: auto;
    }

    &_status-green {
        color: $success;
    }

    .info-block {
        display: flex;
        flex-direction: column;

        &_label {
            font-size: 14px;
            margin-bottom: 5px;
            color: $gray;
        }
    }
    
}