:host {
    min-height: 100vh;

    ::ng-deep .form-block {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 4px;
        width: 360px;
        padding: 30px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    }
}

.container {
    min-height: 100vh;
    height: 100%;
}
