<app-form [formGroup]="formGroup" title="Reset Password" buttonText="Save" class="form-block" (formSubmit)="submit()">
    <app-input-field [control]="passwordControl" placeholder="Your New Password" type="password"></app-input-field> 
    <app-input-field [control]="confirmPasswordControl" placeholder="Confirm Your Password" type="password"></app-input-field> 
</app-form>