<app-form [formGroup]="formGroup" title="Send Email To Reset Password" buttonText="Send" class="form-block" (formSubmit)="submit()">
    <ng-container *ngIf="!(isEmailSent$ | async)">
        <app-input-field [control]="emailControl" placeholder="Your Email" type="email"></app-input-field>
        <a routerLink="/auth/login" class="form_link link">I remembered my password</a>
    </ng-container>
    <p *ngIf="isEmailSent$ | async">Email is sent on <b>{{emailControl.value}}</b>. Please, follow instuction there to reset your password.</p>
</app-form>