<app-form [formGroup]="formGroup" title="Login" buttonText="Login" class="form-block" (formSubmit)="submit()">
    <app-input-field [control]="loginControl" placeholder="Your Login" type="text"></app-input-field>
    <app-input-field [control]="passwordControl" placeholder="Your Password" type="password"></app-input-field>
    <a routerLink="/auth/register" class="form_link link">I don't have account</a>
    <a routerLink="/auth/send-email" class="form_link link mt-3">I forgot password</a>
</app-form>