

<label>
    <span>{{label}}</span>
    <select class="form-block_field"
        [name]="name"
        [formControl]="control"
        [class.error]="control.invalid && control.touched && control.dirty">
        <option [value]="val" *ngFor="let val of values">{{ val }}</option>
    </select>
    <app-form-error [control]="control"></app-form-error>

</label>